$main-color: #359bc5;
$gray-color: #515151;
$pink-color: #ea526f;
$red-color: #e94343;
$yellow-color: #ffd518;
$white-color: #f7f4ef;
$black-color: #1a1a1a;
$bg-color: #0000002d;

$font-normal: 'Noto Sans', sans-serif;
$font-title: 'Anton', sans-serif;
$text-shadow: 3px 3px 3px #00000065;

// 브레이크포인트
$bp-xl: 1440px;
$bp-lg: 1200px;
$bp-md: 1024px;
$bp-sm: 768px;
$bp-xs: 480px;
